.basic-modal {
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.basic-modal-content {
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 25px;
  position: relative;
  width: 60%;
  height: 65%;
  z-index: 1;
}

.basic-modal-content h1 {
  border-bottom: 1px solid #dedede;
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  color: #EFC11D;
}

.basic-modal-content p {
  position: relative;
  max-height: 45vh;
  overflow-y: auto;
}

.basic-modal-content p::-webkit-scrollbar {
  width: 0;
}

.basic-modal-content p::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.basic-modal-close:hover {
  color: #ff0000;
  background-color: #dedede;
}

.agree-button {
  text-align: center;
}

.agree-button>button {
  border-radius: 50px;
  border: none;
  width: 104px;
  height: 38px;
  font-size: 20px;
  background-color: #EFC11D;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
