.sign-in-container {
width: 100%;
height: 100%;
display:flex;
flex-wrap: wrap;
}
.sign-in-section {
    top: 10%;
    left: 0%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth-error-text {
    color: darkred;
}

.sign-in-header{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    color: white
}

.sign-in-btn {
    width: 83vw;
    background-color: white;
    height: 6vh;
    border-radius: 12px;
    font-size: 1.2rem;
    color: gray
}

.sign-up-option{
    color: brown;
    font-size:1.2rem;
}

.sign-up-link{
    color: white;
}

.auth-error-text {
    color: darkred;
}

.sign-in-success-message{
    width: 100vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: white;
}

@media only screen and (min-width: 320px) {
    
}



@media only screen and (min-width: 411px) {
    
}



@media only screen and (min-width: 769px) {
    .sign-in-container {
        width: 100%;
        height: 100%;
        display:flex;
        flex-wrap: wrap;
    }
        .sign-in-section {
        top: 0%;
        position: relative;
        left: 20%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .auth-error-text {
        color: darkred;
    }
    
    .sign-in-header{
        text-align: center;
    }
}
