.sign-up-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.sign-up-header {
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
    display: flex; 
    align-content: center;
    flex-direction: column;
    height: 500px;
}