.hamburger-icon > img {
    width: 75%;
}

.hamburger-modal {
    width: 63vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    transition-duration: 500ms;
    max-width: 0;
    overflow: hidden;
}

.hamburger-modal > ul {
    margin-top: 35px;
}

.full-size {
    max-width: 400px;
}

.hamburger-icon {
    margin: 0;
    position: absolute;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.hamburger-container {
    margin-left: 5%;
    width: 20%;
    height: 100%;
    position: relative;
}

.hamburger-modal > ul > li {
    width: 110px;
    list-style-type: none;
    padding: 10% 0;
}

.hamburger-modal > ul > li:first-child {
    font-weight: bold;
}

.hamburger-modal > ul > li:hover {
    font-weight: bold;
}

.hamburger-modal > ul > li > button {
    width: 80%;
    font-size: 2vh;
}

.close-symbol {
    margin-top: -10px;
    font-size: 50px;
    width: 10%;
    font-weight: bolder;
    padding: 5px;
    text-align: center; 
}

.web-menu {
    display: none;
}

@media only screen and (min-width: 768px) {
    .full-size {
        max-width: 300px;
    }
    .hamburger-icon {
        margin: 0;
    }
    .hamburger-icon > img {
        width: 65px;
    }
    .close-symbol {
        font-size: 70px;
    }
    .hamburger-modal > ul {
        font-size: 20px;
    }
    .hamburger-modal > ul > li {
        width: 112px;
    }
}


@media only screen and (min-width: 992px) {
    .hamburger-icon {
        display: none;
    }
    .hamburger-container {
        display: none;
    }
    .web-menu {
        display: flex;
        width: 50%;
        justify-content: space-around;
        font-size: 1.1rem;
    }
    li {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
}

@media only screen and (min-width: 500px) {
    .hamburger-icon > img {
        width: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .web-menu {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1400px) {
    .web-menu {
        font-size: 1.5rem;
    }
}