.condition-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .symptom-group {
        position: relative;
        top: 13%;
        width: 100%;
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
            .symptom-name {
                margin: 0;
                color: whitesmoke;
                font-weight: bold;
                text-shadow:rgb(0, 0, 0) 2px 2px;
        }
    }
}
