.condition-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    .symptom-group {
        // position: relative;
        // top: 13%;
        // margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        height: 100%;
            .symptom-name {
                margin: 0;
                color: whitesmoke;
                font-weight: bold;
                text-shadow:rgb(0, 0, 0) 2px 2px;
        }
    }
}

// @media only screen and (min-width: 320px) {
//     .condition-container {
//         .symptom-group {
//             margin-top: 80px;
//         }
//     }
// } 

// @media only screen and (min-width: 600px) {
//     .condition-container {
//         .symptom-group {
//             margin-top: 80px;
//         }
//     }
// } 

// @media only screen and (min-height: 800px) {
//     .condition-container {
//         .symptom-group {
//             margin-top: 85px;
//         }
//     }
// }
// @media only screen and (min-height: 1000px) {
//     .condition-container {
//         .symptom-group {
//             margin-top: 110px;
//         }
//     }
// }

// @media only screen and (min-height: 1200px) {
//     .condition-container {
//         .symptom-group {
//             margin-top: 165px;
//         }
//     }
// }
