.ailment {
    width: 350px;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.ailment-name {
    padding-left: 10%;
    font-size: 25px;
    color: white;
}

a {
    text-decoration: none;
}