export default {
    INFERMEDICA_URL: 'YOUR URL HERE',
    APP_ID: 'YOUR APP ID HERE',
    APP_KEY: 'YOUR APP KEY HERE',
    CONTENT_TYPE: 'YOUR CONTENT TYPE HERE',
    CATEGORY_URL: 'YOUR CATEGORY URL HERE'
}