.footer {
    width: 100vw;
    color: #352c23;
    // color: white;
    // background-color: #352c23;
    div {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3px;
        text-align: center;
        .disclaimer-tag {
            text-decoration: underline;
        }
    }
}

// @media only screen and (min-width: 992px) {
//     .disclaimer-tag {
//         font-size: 1.3rem;
//     }
// }

