.logo-container {
    margin-left: 2%;
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.logo > img {
    /* height: -webkit-fill-available; */
    width: 50px;
    width: -moz-available;
    width: fill-available;
} 

@media only screen and (min-width: 500px) {
    .logo > img {
        width: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .logo > img {
        width: 70px;
    }
}
@media only screen and (min-width: 992px) {
    .logo > img {
        width: 90px;
    }
    .logo-container {
        width: 5%;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
    .logo > img {
        width: 70px;
    }
}