.logo-container {
    margin-left: 2%;
    width: 15%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.logo > img {
    height: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
} 


@media only screen and (min-width: 1024px) {
    .logo-container {
        width: 75px;
    }
    
    .logo > img {
        width: 100%;
    }
}
