.input-container {
    width: 80vw;
}

/* div.label {
    font-size: 1.6em;
    margin-bottom: 2%;
    margin-left: 2%;
} */
.input-field {
    width:80vw;
    height: 6vh;
    margin-bottom: 5%;
    font-size: 1.4rem;
    background: none;
    border-style: none;
    border-bottom: 1px solid white;
}

.input-field::-webkit-input-placeholder {
    color: white;
    }
.input-field:focus::-webkit-input-placeholder {
        color: #EFC11D;
        }
     
.input-field:-moz-placeholder { /* Firefox 18- */
    color: white;  
    }
     
.input-field::-moz-placeholder {  /* Firefox 19+ */
    color: white;  
    }
     
.input-field:-ms-input-placeholder {  
    color: white;  
    }


