body { 
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
    min-width: 320px;
    min-height: 568px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.back-to-top-btn {
    position: fixed;
    width: 50px;
    right: 50px;
    bottom: 30px;
    opacity: 0.6;
}

.back-to-top-btn:hover {
    opacity: 1;
}