body { 
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    min-width: 320px;
    min-height: 568px;
    font-family: 'Quicksand', sans-serif;
    cursor: default;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

button:hover, a:hover, .back-to-top-btn:hover, .close-symbol span:hover, .hamburger-icon:hover, .sign-out-text:hover {
    cursor: pointer;
}