.condition-detail-container {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
}

.condition-detail-group {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.remedy-results-container {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.condition-detail-header {
    font-size: 4.5vh;
    width: 85%;
    height: 35%;
}

.remedy-result-total-message {
    font-size: 4vh;
    color: white;
    width: 85%;
    height: 15%;
}

.condition-detail-header {
    color: #DCF0D2;
}

.condition-detail-description {
    width: 85%;
    height: 78%;
    background-color: white;
    opacity: 0.8;
}

.detail-paragraph {
    font-size: 3vh;
    padding-left: 10%;
    width: 80%;
    height: 80%;
    align-items: center;
    overflow:scroll
}

.remedy-result-total-message {
    display: flex;
    align-items: center;
    background-color: #DEC2DB;
    opacity: 0.8;
}

.end-of-result-message {
    font-size: 20px;
    color: white;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.condition-detail-name, .remedy-result-total-message > span {
    padding-left: 10%;
}

.remedy-results-group {
    width: 85%;
    flex-direction: column;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remedy-name {
    padding-left: 10%;
    font-size: 7.5vw;
    color: white;
}

.remedy-name-container {
    min-width: 100%;
    min-height: 40%;
    border-radius: 50px;
    background-color: #DEC2DB;
    opacity: 0.8;
    margin-bottom: 2%;
}
