.remedy-detail-container::-webkit-scrollbar {
    width: 0;
}

.remedy-detail-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.remedy-detail-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remedy-reviews-container {
    width: 100%;
}

.remedy-detail-header {
    font-size: 4vh;
    color: white;
    margin: 2% 0;       
    text-align: center;
    text-shadow: 0px 4px 4px black;
}

.remedy-detail-description {
    width: 90%;
    background-color: whitesmoke;
    border-radius: 20px;
}

.detail-paragraph {
    font-size: 20px;
    padding: 2%;
}

.other-treatment-result-total-message {
    background-color: #DEC2DB;
    opacity: 0.8;
}

.end-of-result-message {
    font-size: 20px;
    color: white;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.remedy-results-group {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condition-name {
    padding-left: 10%;
    font-size: 20px;
    color: white;
}

.condition-name-container {
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background-color: #DEC2DB;
    opacity: 0.8;
    margin-bottom: 2%;
}

.popup-content  {
    border-radius: 15px;
}

.technique {
    text-decoration: underline;
}

.technique:hover {
    color:#EFC11D;
}

@media only screen and (min-width: 320px) {
    .remedy-detail-description {
        width: 260px;
    }

    .remedy-reviews-container {
        padding-top: 3px;
    }
    .detail-paragraph {
        font-size: 16px;
        padding: 5%;
    }
    .popup-content {
        font-size: 16px !important;
        width: 130px !important;
        padding: 10px !important;
    }
}

@media only screen and (min-width: 375px) {
    .remedy-detail-description {
        width: 318px;
    }
    .detail-paragraph {
        font-size: 18px;
    }
    .popup-content {
        width: 130px !important;
    }
}


@media only screen and (min-width: 411px) {  
    .remedy-detail-description {
        width: 318px;
    }

    .remedy-reviews-container {
        position: relative;
    }
    .detail-paragraph {
        font-size: 20px;
    }
    .popup-content {
        font-size: 20px !important;
        width: 150px !important;
    }
}


@media only screen and (min-width: 500px) {
    .remedy-detail-description {
        width: 480px;
    }
}

@media only screen and (min-width: 600px) {
    .remedy-detail-description {
        width: 550px;
    }
    .remedy-reviews-container{
        margin-left: 0;
    }

}

@media only screen and (min-width: 768px) {
    .remedy-detail-description {
        width: 600px;
    }
    .remedy-reviews-container {
        margin-left: 0;
    }
    .remedy-detail-header {
        font-size: 42px;
    }
    .detail-paragraph {
        font-size: 35px;
    }
    .popup-content {
        width: 380px !important;
        font-size: 35px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .remedy-detail-description {
        width: 800px;
    }
    .remedy-reviews-container {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1387px) {
    .remedy-detail-description {
        width: 1000px;
    }
    .remedy-reviews-container {
        margin-left: 0;
    }
}

