.remedy-detail-container {
    top: 10%;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
    overflow: scroll;
    position: fixed;
}

.remedy-detail-group {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remedy-reviews-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remedy-detail-header {
    font-size: 3.5vh;
    color: white;
    width: 85%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: .5em;
    text-shadow: 0px 4px 4px black;
}

.remedy-detail-description {
    width: 85%;
    background-color: white;
    border-radius: 20px;
}

.detail-paragraph {
    font-size: 3vh;
    width: 80%;
    margin: .5em;
}

.other-treatment-result-total-message {
    background-color: #DEC2DB;
    opacity: 0.8;
}

.end-of-result-message {
    font-size: 20px;
    color: white;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.remedy-results-group {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condition-name {
    padding-left: 10%;
    font-size: 20px;
    color: white;
}

.condition-name-container {
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background-color: #DEC2DB;
    opacity: 0.8;
    margin-bottom: 2%;
}
