.remedy-detail-container {
    margin-top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}

.remedy-detail-container::-webkit-scrollbar {
    width: 0;
}

.remedy-detail-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.remedy-detail-group {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remedy-reviews-container {
    width: 100%;
    /* margin: 5% 4%; */
    /* padding: 1%; */
}

.remedy-detail-header {
    font-size: 4vh;
    color: white;
    margin: 2% 0;
    text-align: center;
    text-shadow: 0px 4px 4px black;
}

.remedy-detail-description {
    width: 90%;
    background-color: whitesmoke;
    border-radius: 20px;
}

.detail-paragraph {
    font-size: 3vh;
    padding: 4%;
}

.other-treatment-result-total-message {
    background-color: #DEC2DB;
    opacity: 0.8;
}

.end-of-result-message {
    font-size: 20px;
    color: white;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.remedy-results-group {
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condition-name {
    padding-left: 10%;
    font-size: 20px;
    color: white;
}

.condition-name-container {
    width: 100%;
    height: 10%;
    border-radius: 50px;
    background-color: #DEC2DB;
    opacity: 0.8;
    margin-bottom: 2%;
}

@media only screen and (min-width: 320px) {
    .remedy-detail-description {
        width: 92vw;
    }
    .remedy-detail-group {
        width: 100vw;
    }

    .remedy-reviews-container {
        padding-top: 3px;
    }
}

@media only screen and (min-width: 375px) {
    .remedy-detail-description {
        width: 84vw;
    }
    .remedy-detail-group {
        width: 100vw;
    }
    .remedy-reviews-container{
        margin-left: 2%;
        width: 100vw;
    }
}


@media only screen and (min-width: 411px) {    
    .remedy-detail-group {
        width: 100vw;
        position: relative;
        top: 3vh;
    }

    .remedy-detail-description {
        width: 93vw;
    }

    .remedy-reviews-container {
        width: 100vw;
        position: relative;
        top: 4vh;
    }
}


@media only screen and (min-width: 600px) {
    .remedy-detail-group {
        width: 100vw;
        position: relative;
        top: 5vh;
    }
    .remedy-detail-description {
        width: 93vw;
    }
    .remedy-reviews-container{
        top: 6vh;
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) {
    .remedy-detail-group {
        width: 100vw;
        position: relative;
        top: 0;
    }
    .remedy-detail-description {
        width: 600px;
    }
    .remedy-reviews-container {
        top: 6vh;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .remedy-detail-group {
        width: 100vw;
        position: relative;
        top: 2vh;
    }
    .remedy-detail-description {
        width: 800px;
    }
    .remedy-reviews-container {
        top: 6vh;
        margin-left: 0;
    }
}

