.review-header{
    margin-left: 6%;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    div {
        font-size: 25px;
        margin-right: 10px;
    }
}

.single-review {
    padding: 1em;
    background-color: white;
    width: 325px;
    list-style-type: none;
    font-size: 15px;
    margin: 1em;
    border-radius: 20px;
}

.reviews-container {
    color: #1E332E;
    display: flex;
    flex-direction: column-reverse;
    form {
        // width: 325px;
        display: flex;
        width: 100vw;
        height: 40%;
        justify-content: center;
        .review {
            width: 93vw;
            height: 95px;
            display: flex;
            flex-direction: column;
            align-content: space-around;
            font-size: 18px;
                   
            div {
                display: flex;
                span {
                    color: white;
                }
                .rating-area {
                    width: 230px;
                    height: 20px;
                    margin-left: .5em;
                    margin-bottom: .5em;
                }
            }

            .input-and-button{
                border: 1px solid black;
                border-radius: 10px;
                width: 93vw;
                height: 16vh;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: white;
                div {
                    display: flex;
                    flex-direction: column;
                    input::-webkit-input-placeholder {
                    color: gray !important;
                    }
             
                    input:-moz-placeholder { /* Firefox 18- */
                    color: gray !important;  
                    }
                    
                    input::-moz-placeholder {  /* Firefox 19+ */
                    color: gray !important;  
                    }
                    
                    input:-ms-input-placeholder {  
                    color: gray !important;  
                    }
 
                    .review-area {
                        border-style: none;
                        background: none;
                        // width: 290px;
                        width: 59vw;
                        height: 50px;
                        font-size: 2.5vh;
                    }

                }
                    button {
                        width: 11vw;
                        height: 6vh;
                        background: #efc11d;
                        border-radius: 10px;
                        font-size: 3vh;
                        position: relative;
                    }
            }

            .error-text{
                color: darkred;
                font-size: 2vh;
                margin-left: 6%;
            }
            
        };
       
    }
}

.star-rating-area {
    display: flex;
    align-items: center;
    font-size: 2.5vh;
    margin-left: 6%;
}

.review-detail {
    font-size: 20px;
    color: black;
}


@media only screen and (min-width: 320px) {
    .review-header {
        div {
            font-size: 22px;
        }
    }
    .reviews-container {
        form {
            .review {
                width: 245px;
                .review-area {
                    width: 245px;
                }
            }
            button {
                left: 13px;
            }
        }
    }
    .single-review {
        width: 245px;
    }
}


@media only screen and (min-width: 360px) {
    .reviews-container {
        form {
            .review {
                width: 290px;
                .review-area {
                    width: 290px;
                }
            }
            button {
                left: 13px; 
            }
        }
    }
    .single-review {
        width: 280px;
    }
}

@media only screen and (min-width: 375px) {
    .reviews-container {
        form {
            .review {
                width: 93vw;
                .review-area {
                    font-size: 2vh;
                    width: 249px;
                    height: 6vh;
                }
            }
            button {
                left: 13px; 
            }
        }
    }
    .single-review {
        width: 316px;
    }
}

@media only screen and (min-width: 411px) {
    .reviews-container {
        form {
            .review {
                .review-area {
                    width: 325px;
                }
            }
            button {
                left: 48px; 
            }
        }
    }
    .single-review {
        width: 310px;
    }
}

@media only screen and (min-width: 600px) {
    .reviews-container {
        form {
            .review {
                .review-area {
                    width: 505px;
                }
            }
            button {
                left: 225px;
            }
        }
    }
    .single-review {
        width: 493px;
    }   
}

@media only screen and (min-width: 768px) {
    .reviews-container {
        form {
            .review {
                .review-area {
                    width: 660px;
                }
            }
            button {
                left: 385px;
                top: 15px;
            }
        }
    }
    .single-review {
        width: 655px;
    }   
}