.review-header{
    margin-left: 6%;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 10px;
    div {
        font-size: 25px;
        margin-right: 10px;
    }
}

.single-review {
    padding: 1em;
    background-color: white;
    width: 325px;
    list-style-type: none;
    font-size: 15px;
    margin: 1em;
    border-radius: 20px;
}

.reviews-container {
    color: #1E332E;
    display: flex;
    flex-direction: column-reverse;
    form {
        display: flex;
        width: 100vw;
        height: 40%;
        justify-content: center;
        .review {
            width: 93vw;
            height: 95px;
            display: flex;
            flex-direction: column;
            align-content: space-around;
            font-size: 18px;
                   
            div {
                span {
                    color: white;
                }
                .rating-area {
                    width: 230px;
                    height: 20px;
                    margin-left: .5em;
                    margin-bottom: .5em;
                }
            }

            .input-and-button{
                border: 1px solid gray;
                border-radius: 10px;
                width: 93vw;
                height: 19vh;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: white;
                div {
                    display: flex;
                    flex-direction: column;
                    input::-webkit-input-placeholder {
                    color: gray !important;
                    }
             
                    input:-moz-placeholder { /* Firefox 18- */
                    color: gray !important;  
                    }
                    
                    input::-moz-placeholder {  /* Firefox 19+ */
                    color: gray !important;  
                    }
                    
                    input:-ms-input-placeholder {  
                    color: gray !important;  
                    }
                }
                .review-area {
                    border-style: none;
                    background: none;
                    border: none;
                    width: 59vw;
                    height: 50px;
                    font-size: 2.5vh;
                }
                    button {
                        width: 11vw;
                        height: 6vh;
                        background: #efc11d;
                        border-radius: 10px;
                        color: white;
                        font-size: 3vh;
                        position: relative;
                        border-color: white;
                    }
            }

            .error-text{
                color: darkred;
                font-size: 2vh;
                margin-left: 6%;
            }
            
        };
       
    }
}

.star-rating-area {
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
    margin-left: 6%;
    margin-bottom: .1em;
    div{
        display: flex;
        margin-bottom: 1%;
    }
    p{
        color: darkred;
        font-size: 2vh;
    }
}

.review-detail {
    font-size: 20px;
    color: black;
}


@media only screen and (min-width: 320px) {
    .review-header {
        div {
            font-size: 3vh;
        }
    }
    .reviews-container {
        form {
            .review {
                width: 93vw;
                height: 22vh;
                .star-rating-area {
                    margin-bottom: -1%;
                }
                .input-and-button {
                    height: 8vh;
                    .review-area {
                        width: 77vw;
                        height: 4vh;
                    }
                }
            }
        }
    }
    .single-review {
        width: 82vw;
        margin-top: 0;
        margin-left: 1em;
        margin-right: 1em;
        .review-detail {
            font-size: 2.25vh;
        }
    }
}


@media only screen and (min-width: 360px) {
    .reviews-container {
        form {
            .review {
                
                .review-area {
                    
                }
            }
            button {
                
            }
        }
    }
    .single-review {
        
    }
}

@media only screen and (min-width: 375px) {
    .reviews-container {
        form {
            .review {
                width: 93vw;
                height: 19vh;
                .review-area {
                    font-size: 2vh;
                    width: 68vw;
                    height: 5vh;
                }
            }
        }
    }
    .single-review {
        width: 316px;
    }
}

@media only screen and (min-width: 411px) {
    .single-review {
        width: 92vw;
        margin-left: 4%;
        padding: 3%;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
    .review-header {
        margin-left: 17%;
        div {
        font-size: 3vh;
        }
    }
    .reviews-container {
        align-items: center;
        form {
            .review {
                width: 600px;
                .input-and-button {
                    width: 600px;
                    height: 10vh;
                    .review-area {
                        width: 520px;
                    }
                    button {
                        width: 51px;
                        height: 48px;
                    }
                }
                .error-text {
                    margin-top: 1%;
                }
            }
        }
    }
    .single-review {
        width: 600px;
        margin-left: 0;
        margin-right: 0;
        padding: 5%;
        box-sizing: border-box;
    }   
}

@media only screen and (min-width: 1024px) {
    .review-header {
        margin-left: 23.5vw;
        div {
        font-size: 3vh;
        }
    }
    .reviews-container {
        align-items: center;
        form {
            .review {
                width: 800px;
                height: 24vh;
                .input-and-button {
                    width: 800px;
                    height: 10vh;
                    .review-area {
                        width: 620px;
                    }
                    button {
                        width: 51px;
                        height: 48px;
                    }
                }
                .error-text {
                    margin-top: 1%;
                }
            }
        }
    }
    .single-review {
        width: 800px;
        margin-left: 0;
        margin-right: 0;
        padding: 5%;
        box-sizing: border-box;
    }  
}