.about-saige {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    color: white;
    overflow: scroll;
    h1 {
        span {
            img {
                width: 45px;
                height: 45px;
                }
            }
        }
    p {
        font-size: 20px;
    }
    .tech-used {
        .front-end-tech {
            img {
                width: 45px;
                height: 45px;
                }
            }
        .back-end-tech {
            img {
                width: 45px;
                height: 45px;
                }
             }
        }
 }
 