.about-saige-container {
    width: 100%;
    height: 100%;
    .about-saige {
        font-size: 18px;
        margin-top: 10px;
        width: 80%;
        margin: 0 auto;

        text-align: center;
        color: white;
        h1 {
            margin: 0;
        }
        p {
            width: 100%;
        }
        .tech-used {
            .front-end-tech {
                width: 100%;
                img {
                    width: 45px;
                    margin-right: 10px;
                    }
                }
            .back-end-tech {
                img {
                    width: 45px;
                    margin-right: 10px;
                    }
                }
            }
        }
    }



@media only screen and (min-width: 600px) {
    .about-saige-container {
        .about-saige {
            font-size: 30px;
            .tech-used {
                .front-end-tech {
                    img {
                        width: 80px;
                    }
                }
                .back-end-tech {
                    img {
                        width: 80px;
                    }
                }
            }
        }
    }
}