.categories-container {
    margin-top: 3%;
    top: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    position: fixed;
}

.categories-content {
    padding: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
}
