.categories-container {
    top: 13%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    position: relative;
        .categories-content {
            padding: 2%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            }
}

@media only screen and (min-width: 320px) {
    .categories-container {
        .categories-content {
            padding: 0;
        }
    }
}


@media only screen and (min-width: 992px) {
    .categories-container {
        justify-content: center;
        .categories-content {
            width: 70%;
        }
    }
}