.meet-the-team-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
.meet-the-team {
    top: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    position: relative;
    color: white; 
    overflow: auto;
    h1 {
        text-align: center
    }
        .members {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .a-team-member {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                img {
                    width: 50%;
                }
                .media {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    a {
                        img {
                            padding-left: 10%;
                            padding-right: 10%;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
 }


@media only screen and (min-width: 320px) {
    
}

@media only screen and (min-width: 411px) {
    
}

 @media only screen and (min-width: 769px) {
    .meet-the-team-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    .meet-the-team {
        top: 0%;
        left: 20%;
        width: 80%;
        height: 100%;
        position: relative;
        color: white; 
        overflow: auto;
        h1 {
            text-align: center
        }
    .members {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .a-team-member {
            margin: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            img {
                width: 100%;
            }
            .media {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                a {
                    img {
                        padding-left: 10%;
                        padding-right: 10%;
                        width: 30px;
                        height: 30px;
                        margin: 0 2%; 
                    }
                }
            }
        }
    }
}
}
}
 